[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Hunter-The-Great
	email = 66389989+Hunter-The-Great@users.noreply.github.com
